:root {
    --blocked: #a5c0c9;
    --unlocked: #91a8af49;
    --grid-backgorund: #697b81;
    --bomb: #cc4747b4;
    --marked: #a3be6fc5;
    --page-bg: #97b1b9c5;
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: .4s .0s all ease-out;
    border: none;
    outline: none;
    font-family: sans-serif;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
    height: 100dvh;
    transition: none;
    background-color: var(--page-bg);
}

.game-header {
    position: fixed;
    bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    /* height: 6px; */
    width: 80vw;
    max-width: 400px;
    padding: 6px;
    /* background: linear-gradient(to bottom, #b1ced8, var(--unlocked));
    border: 1px solid #4d5a664b;
    border-bottom: 2px solid var(--grid-backgorund); */
}

.game-header button {
    font-family: monospace;
    font-size: 12pt;
    padding: 8px 12px;
    background: linear-gradient(to bottom, #b8e9da, #6fb7cf );
    color: #000;
    border-radius: 4px;
    border: 1px solid var(--grid-backgorund);
    border-bottom: 2px solid var(--grid-backgorund);
    cursor: pointer;
}

.game-header button:hover {
    background: #b0cadf;
}

.game-header button:active {
    background: #9eb6c9;
}

.stat {
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;
    background-color: #cadbdb;
    padding: 8px 12px;
    border-radius: 4px;
}

.game-grid {
    background-color: var(--grid-backgorund);
    display: grid;
    gap: 2px;
    /* max-width: 400px;
    aspect-ratio: 1; */
    border-radius: 8px;
    /* overflow: hidden; */
    padding: 4px;
    position: relative;
    border: 1px solid #4d5a66;
    border-bottom: 2px solid #4d5a66;
}

/* Game over Mask */
.gameover::after {
    width: 400px;
    aspect-ratio: 1;
    background-color: transparent;
    content: "";
    position: absolute;
}

.cell {
    width: 40px;
    aspect-ratio: 1;
    font-size: 16pt;
    display: grid;
    place-items: center;
    border-radius: 4px;
    background-color: var(--blocked);
    transition: none;
    cursor: pointer;
}

.blocked:hover {
    border: solid 2px #fdfdff4f;
}

.bomb {
    background-color: var(--bomb);
    border: solid 2px #fdfdff4f;
}

.unlocked {
    background-color: var(--unlocked);
    font-weight: bold;
}
.unlocked:hover {
    border: none;
}

.marked {
    transition: .4s .0s all ease-out;
    border: solid 2px #fdfdff4f;
    color: #992e0e;
    background-color: var(--marked);
    font-weight: bold;
}

.cell-1 {
    color: blue;
}
.cell-2 {
    color: #055505;
}
.cell-3 {
    color: #bd0505;
}
.cell-4 {
    color: #4f0372;
}

@media (max-width: 600px) {
    .cell {
        font-size: 14pt;
    }
}

@media (max-width: 460px) {
    .cell {
        font-size: 12pt !important;
    }
    .bomb {
        font-size: 10pt !important;
    }
}

@media (max-width: 360px) {
    .cell {
        font-size: 10pt !important;
    }
    .bomb {
        font-size: 8pt !important;
    }
}

@media (max-width: 385px) {
    .game-header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
}