:root {
    --blocked: #a5c0c9;
    --unlocked: #8da3aa;
    --grid-backgorund: #788d94;
    --bomb: #cc4747b4;
    --marked: #a3be6fc5;
    --page-bg: #abc6ce91;
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: .4s .0s all ease-out;
    border: none;
    outline: none;
    font-family: sans-serif;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 100dvh;
    transition: none;
    background-color: var(--page-bg);
}

.game-header {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* height: 6px; */
    width: 400px;
    padding: 6px;
    background: linear-gradient(to bottom, #b1ced8, var(--unlocked));
    border: 1px solid #4d5a664b;
    border-bottom: 2px solid var(--grid-backgorund);
}

.game-header button {
    font-family: monospace;
    font-size: 12pt;
    padding: 8px 12px;
    background: linear-gradient(to bottom, #b8e9da, #6fb7cf );
    color: #000;
    border-radius: 4px;
    border: 1px solid var(--grid-backgorund);
    border-bottom: 2px solid var(--grid-backgorund);
    cursor: pointer;
}

.game-header button:hover {
    background: #b0cadf;
}

.game-header button:active {
    background: #9eb6c9;
}

.stat {
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;
    background-color: #cadbdb;
    padding: 8px 12px;
    border-radius: 4px;
}

.game-grid {
    background-color: var(--grid-backgorund);
    display: grid;
    gap: 2px;
    width: 400px;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
    padding: 4px;
    position: relative;
    border: 1px solid #4d5a66;
    border-bottom: 2px solid #4d5a66;
}

/* Game over Mask */
.gameover::after {
    width: 400px;
    aspect-ratio: 1;
    background-color: transparent;
    content: "";
    position: absolute;
}

.cell {
    font-size: 16pt;
    display: grid;
    place-items: center;
    border-radius: 4px;
    background-color: var(--blocked);
    transition: none;
    cursor: pointer;
}

.blocked:hover {
    border: solid 2px #fdfdff4f;
}

.bomb {
    background-color: var(--bomb);
    border: solid 2px #fdfdff4f;
}

.unlocked {
    background-color: var(--unlocked);
    font-weight: bold;
}
.unlocked:hover {
    border: none;
}

.marked {
    transition: .4s .0s all ease-out;
    border: solid 2px #fdfdff4f;
    color: #992e0e;
    background-color: var(--marked);
    font-weight: bold;
}

.cell-1 {
    color: blue;
}
.cell-2 {
    color: #055505;
}
.cell-3 {
    color: #bd0505;
}
.cell-4 {
    color: #4f0372;
}